<nav>
    <div class="site-title">
        <a href="/"><h1>ChatGPT_Evaluation</h1></a>
        <p>a node js app to evaluate chat gpt performance and accuracy</p>
    </div>
    <ul>
        <li><a href="/history">history</a></li>
        <li><a href="/social_science">social_science</a></li>
        <li><a href="/computer_security">computer_security</a></li>
    </ul>
</nav>